@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  font-family: "Raleway", "sans-serif";
  color: white;
}
body {
  margin: 0px;
  background: rgba(0, 0, 0, 0.76);
  overflow: hidden;
}

#content {
  height: 100%;
  width: 101%;
  gap: 20px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("./background.jpeg");
  backdrop-filter: blur(12px);
  /*box-shadow:  inset 0 -50px 50px -30px #000000;*/
  transform: translateZ(-1px) scale(2);
  transition: opacity 200ms
}
html {
    scroll-behavior: smooth;
}
#content.pressed {
    opacity: 0;
    backdrop-filter: blur(12px);    
  }

#name {
    text-align: center;
}

#sq {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0%;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);

  animation: gradient 5s ease infinite, transform 10s;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out, background 0.5s ease-in-out, transform 0.5s;
}
#about {
  height: 100%;
  transform: translateZ(0);
  transform-origin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background: linear-gradient(to right, #1d4350, #a43931);
  box-shadow:  inset 0 30px 30px -30px #000000;

  }
  
button {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(0, 0, 0);
  padding: 6px;
}

.parallax {
    margin: 0;
    perspective: 1px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: padding-top 500ms;

  }

  #navbar {
    background-color: rgba(0, 0, 0, 0);
    position:fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 500ms;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: rgb(255, 0, 0);
  }